button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

button:hover { background-color: #2980b9; }

.dvd-card.watchlist {
    background-color: #fff9db;
    border-left: 5px solid #f1c40f;
}

.dvd-card.watchlist button {
    background-color: #e67e22;
}